@font-face {
  font-family: "NotoSerif";
  src: url("app/fonts/NotoSerif/NotoSerifRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }

  @font-face {
    font-family: "NotoSerifMedium";
    src: url("./../app/fonts/NotoSerif/NotoSerifMedium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

 @font-face {
      font-family: "NotoSerifBold";
      src: url("./../app/fonts/NotoSerif/NotoSerifBold.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
      }
     

 @font-face {
   font-family: "Inter";
   src: url("./../app//fonts/Inter/inter-regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
   }  

  @font-face {
    font-family: "InterBold";
    src: url("./../app//fonts/Inter/inter-bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
   } 

   
  
  
:root {
  --colorText: #001d2f;
  --colorText2: #07242f;
  --colorAccent: #0e876d;
  --colorAccent2: #d4e300;
  --colorBeige:#f9f8f2;
  --colorGrey: #f7f8f9;
  --colorLightBlue: #dbe8e7;
  --colorFooter: #001828;
}

body {
  background-color: #7c1818;
  color: var(--colorText);
  display: block;
  position: relative;
  margin: 0;
  line-height: 1.55;
  font-family: Inter, sans-serif;
}

h1, h2 {
  font-family: NotoSerifMedium, sans-serif;
  margin-bottom: auto;
}

h1 {
  font-size: 5rem;
  line-height: 6rem;
}

h2 {
  margin-top: auto;
}



.button {
	display: inline-block;
	border: none;
	background-color: var(--colorAccent);
	color: #ffffff;
  font-size: 20px;
	text-align: center;
  text-decoration: none;
	padding: 13px 34px;
	border-radius: 30px;
	transition: all .15s ease;
}

.button:hover {
  background-color: var(--colorAccent2);
  color: var(--colorText2);
  cursor: pointer;
}

/* общие стили по секциям */

.section {
   background-color: #ffffff;
   min-height: 100vh;
   padding-left: 4rem;
}

.section_accent2 {
  background-color: var(--colorGrey);
  min-height: auto;
}

.section_accent {
  background-color: var(--colorBeige);
}

.section_accent3 {
  background-color: var(--colorLightBlue);
}

.main-foot {
  background-color: var(--colorFooter);
}

/* стили секции main */

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main .button_button-main {
  margin-top: 3rem;
}

.main .column {
  margin-bottom: 3rem;
}

.column__img_man {
  width: auto;
  max-width: 100%;
}

/* .text-bold {
  font-weight: 900;
} */

.text-upper {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.09rem;
  margin-top: 1.8rem;
}

/* стили секции short-advantage */

.short-advantage {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.short-advantage .column {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 0.8rem;
}

.column_img .column_img-icon {
  background-color: #ffffff;
	border-radius: 100%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
}

.column_img .img_icon {
  width: 2rem;
}

/* стили секции place */

.section_main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

